/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
   /* font-family: "Manrope", sans-serif; */
    /* font-family: "Ubuntu", sans-serif; */
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --font-stack:'Raleway', sans-serif;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --cs-primary: #edb437;
  --cs-black: #060606;
  --cs-white:#fff;
  --cs-hover:#e49c00;
  --cs-border:#ffffff21;
  --cs-matblack:#272727
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
p {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

h1 {
  font-size: 70px!important;
  font-weight: 800;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  color: var(--cs-white);
}

h3 {
  font-size: 20px;
  font-weight: 700;
  color: var(--cs-white);
}

p {
  font-size: 16px;
  font-weight: 400;
  color: var(--cs-white);
}

.btn-cs, .auth-card button[type=submit] {
  background-color: var(--cs-primary);
  padding: 10px 30px;
  color: var(--cs-black);
  font-weight: 500;
  border-radius: 10px;
  border: none;
}

.btn-cs:hover, .auth-card button[type=submit]:hover {
  background-color: #e49c00;
  color: var(--cs-black);
}

.chat_scroll{
  overflow: scroll;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 2px;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background:#ffffff05;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: var(--cs-primary);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--cs-hover);
}

canvas {
  background: transparent !important;
  display: block;
}


/* custom css */
/* header */
.header {
  width: 100%;
  padding: 1rem 2rem;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.logo {
  width: 150px;
}

.nav-item a {
  color: #fff;
}

.nav-item a:hover {
  color: var(--cs-primary);
}

.navbar-nav .nav-link.active {
  color: var(--cs-primary);
}

.navbar-toggler-menu svg{
  color:#fff;
}

.navbar-toggler:focus {
    text-decoration: none;
    border: 1px solid var(--cs-white);
    box-shadow: none;
}

/* header ends */

/* home */
.home-container {
  background:
    url('./assets/hero_bg.png') center / cover no-repeat, center / cover no-repeat,
    radial-gradient(circle at bottom, #EDB437 -90%, #060606 80%);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center center;
}

.hero .row{
height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.visual_img {
  width: 120px;
  padding-bottom: 30px;
}

.home-text {
  font-size: 4rem;
  font-weight: bold;
  color: #2c3e50;
}

.hero_content h1 {
  width: 80%;
  margin: auto;
}

.grad_text {
  background: linear-gradient(to right,
      #e49c00,
      #fff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-size: 100% auto;
  font-size: 30px;
}

.hero_content p {
  width: 70%;
  margin: auto;
}

/* home ends */

/* chat starts */
.chat {
  height: 100vh;
  overflow: hidden;
  background:
    url('./assets/hero_bg.png') center / cover no-repeat, center / cover no-repeat,
    radial-gradient(circle at bottom, #EDB437 -90%, #060606 80%);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center center;
}


/* ChatInterface */
.chat-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.chatinterface {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.chatinterface textarea {
  width: 100%;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  color: var(--cs-white);
  padding: 10px;
  font-size: 15px;
}

textarea::-webkit-input-placeholder {
  color: #fff;
}

.chatinterface textarea:focus-visible {
  outline: 1px solid var(--cs-border);
  border-radius: 5px;
}

.chat-input-section {
    background-color: #171717;
  padding: 1rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: sticky;
  bottom: 0;
  width: 100%;
  max-width: 800px;
  margin: auto;
  z-index: 2
}

.chat-textarea-wrapper {
  width: 100%;
}


.chat-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.chat-action-button {
  font-size: 1.3rem;
  padding: 5px 12px;
  border-radius: 8px;
  background-color: #2a2a2a;
  color: white;
  border: 1px solid #444;
}

.chat-mode-toggle {
  flex-grow: 1;
  text-align: center;
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 0.9rem;
  background-color: #2a2a2a;
  color: white;
  border: 1px solid #444;
  white-space: nowrap;
}

.send-button {
  font-size: 1.2rem;
  padding: 8px 16px;
}


.chat_ic {
    display: flex;
  padding: 3px;
  justify-content: center;
  align-items: center;
   cursor: pointer;
  transition: all 0.3s ease;
}

.chat_ic:hover svg {
  color: var(--cs-hover)!important;
  transform: scale(1.05);
}

.btn-otl{
  padding: 3px 10px;
  border-radius: 7px;
  font-size: 14px;
}

.chat-response {
  padding: 1rem;
  background-color: #171717cc;
  border-radius: 20px;
  margin: 20px 0;
  width: 60%;
  backdrop-filter: blur(6px);
}

.chat-response-section {
  scroll-behavior: smooth;
}

.chat-response.user {
  margin-left: auto;
}

.message-actions button {
  width: 30px;
  height: 30px;
  border-radius: 10px;
}

.rec_img {
  width: 40px;
  padding: 0;
  padding-right: 10px;
}


.ai *{
  margin-bottom: 10px;
  color: var(--cs-white);
  font-size: 16px;
}

.processing-spinner {
  font-style: italic;
  color: gray;
  display: flex;
  align-items: center;
  gap: 8px;
}

.stop_btn:hover svg {
  color: #dc3545!important;
}


/* signin page */
.auth-card{
  font-family: var(--font-stack)!important;
}


/* profile page */
.profile-card, .exam_rules{
  background-color: #272727!important;
  border-radius: 12px;
  border: 1px solid var(--cs-border)!important;
  box-shadow: 0 12px 40px -12px rgb(0 0 0 / 29%);
  padding: 20px;
}

/* todo */
.task_box input{
  background-color: transparent;
  color: var(--cs-white);
  border: 1px solid var(--cs-border);
}

.task_box input::placeholder {
  color: var(--cs-white);
}

.task_box input:focus{
  background-color: var(--cs-matblack);
  outline: none;
  box-sizing: none;
  border-color: var(--cs-white);
  color: var(--cs-white);
}

.todocard{
  background-color: var(--cs-matblack);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

    .todo-content {
        overflow: scroll;
    }

.card-body p{
  color: var(--cs-black);
  font-size: 14px;
  overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

/* topic page */
.topic_card{
  background-color: var(--cs-matblack);
  padding: 10px;
}

.topic_card p{
  color: var(--cs-white);
  font-size: 14px;
  margin-bottom: 15px;
}

/* exam page */
.exam_rules h3{
  font-size: 30px;
  color: var(--cs-primary);
}

.timer-exam {
  font-size: 50px;
  color: var(--cs-hover)!important;
  font-weight: 800!important;
  background-color: var(--cs-border)!important;
  width: 50%;
  margin: auto;
  border-radius: 10px;
}

.exam_time_header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--cs-matblack);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.questions .mcq{
   background-color: var(--cs-matblack);
  padding: 20px;
  border-radius: 15px;
}

.exam-timer{
  font-weight: 700;
  color: var(--cs-hover);
  font-size: 30px;
}


/* progress page */

.test_details_progress strong{
  color: var(--cs-primary);
}
.test_details_progress .text-muted{
  color: #fff!important;
}

.marks_hitory{
  padding: 15px;
  margin: 15px 0;
  border: 1px solid var(--cs-border);
  border-radius: 10px;
}

.btn-answer{
  background-color: var(--cs-primary);
  color: var(--cs-black);
}

.btn-answer:hover{
  background-color: var(--cs-hover);
  color: var(--cs-black);
}

.marks_progress button{
  border: 1px solid var(--cs-border);
}

.marks_progress button:hover{
  border: 1px solid #fff;
}

.marks_progress button:active{
  border-color: #fff!important;
}

.marks_progress button:focus{
  border-color: #fff!important;
}
.chat-content {
  overflow-y: auto;
}